body {
  text-align: center;
  background-color: #abdbe3;
}

.home {
  display: grid;
  margin: auto;
  padding: 50px;
}

.card {
  width: 80%;
  margin: 40px auto 40px auto;
}

.replaceContainer{
  display: grid;
  margin-bottom: 1em;
}

@media only screen and (min-width: 1200px) {
  .card {
    width: 40%;
  }

  .replaceContainer{
    display: flex;
  }
}

.textfield {
  width: max-content;
  display: block !important;
}

.replaceRow {
  margin: auto;
}

.caracter-field {
  margin: 1em;
}

.btn {
  background-color: #eeeee4 !important;
}

.divider {
  background-color: #eeeee4;
  padding: 0.5em;
  width: 50%;
  font-size: 18px !important;
  padding: 12px !important;
  color: black !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionsContainer {
  margin-top: 5% !important;
}

.mg-auto {
  margin: auto;
}

.btn {
  color: #063970 !important;
  font-weight: bold !important;
  padding: 20px !important;
}

.btn {
  font-size: 14px !important;
}

button {
  color: #063970 !important;
  font-size: 18px !important;
}

svg {
  width: 20px;
  height: 20px;
  fill: #063970;
  margin-right: 10px;
}
